* {
    font-family: Ubuntu, Segoe, 'Lucida Grande', sans-serif;
    font-size: 10pt;
    color: #303942;
}
html {
    margin: 12px 0 0 155px;
    min-width: 576px;
    max-width: 738px;
}
article + article {
    margin: 36px 0 0 0;
}
code {
    font: 10pt monospace;
    background: #efefef;
    border-radius: 3px;
    padding: 2px 4px;
}
h1 {
    font-size: 20pt;
    margin: 1em 0;
    border-bottom: 1px solid #efefef;
}
h2 {
    color: #666;
    font-size: 1.2em;
}
section {
    margin-left: 18px;
}
label {
    margin: 6px 0;
}
#notificationOptions {
    display: none;
}